/* 
    Document   : styles
    Created on : Feb 19, 2013, 7:12:26 PM
    Author     : Femi TAIWO <dftaiwo@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
        display: block;
}

body{
        background:#47525c;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight:200;
        font-size:13px;

        color:#444;
        line-height: 1.3em;
        color:white;

}
a,a:visited{
        color:#6DDFFF;
        text-decoration: none;
}

p{
        color:#fff;
        font-size:13px;
}

.line{
    height:1px;
    overflow:hidden;
    background-color:#2b353d;
    border-bottom:1px solid #687581;
    margin:10px 0;
}


#feedHeader{
        margin-bottom:13px;
        color:#4EBAFF;
        position:fixed;
        background:#47525c;
        width:100%;
        top:0px;
}

h1{
        color:#fff;
        text-shadow:1px 1px 2px #222;
        margin-bottom:4px;
        font-size:1.5em;
}

#newsList{  
        margin-top:30px;
        padding: 0px 3px 3px 5px; 
        margin-top:3px; 
}

.marginedTop{
        margin-top:55px;
}
#newsList li{ 
        margin:0 5px 10px 0;
        padding:5px;
        list-style: none;
        clear:both;
        border:1px solid #38434d;
    /* CSS3 round corners: */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#newsList .title{ 
        font-weight:500; 
        margin:5px 0px 0px 0px; 
        padding-top:3px;
        color:#4EBAFF; 
        text-decoration:none ;
        display:block;
       font-size:1.3em;
       text-shadow: 0 1px 1px #000;
}

#newsList .content{ 
        padding:1px 3px 3px 3px; 
        border-bottom:1px solid #D3CAD7; 
}

#newsList .content img{ 
        max-width:250px;
        align:left;
        box-shadow: 1px 1px 2px #aaa;
        margin:8px;
}

#newsList .date{ 
        font-size:11px; 
        color:#AAA; 
}
